@use "mixins" as mix;
@use "variables" as var;

:root {
  --color_base: #98989d;
  --color_light: #98989d;
  --color_dark: #69696e;
  --color_text: #ffffff;
	// background color
  --color_filter_bg: brightness(0) saturate(100%) invert(61%) sepia(57%) saturate(0%) hue-rotate(41deg) brightness(96%) contrast(115%);
	// forground color
  --color_filter_fg: none;
}

@charset "UTF-8";

// ====================================
// MARK: HTML =========================
// ====================================

html,
body {
  color: var(--text1);
  font-size: 16px;
  line-height: 1.15;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  -webkit-text-size-adjust: 100%;
  background-color: var(--surface1);
  height: 100%;
}

// MARK: Links
a,
button.as-link {
  color: var(--text1);
  outline: none;
}

// MARK: Type
h1,
h2 {
  font-weight: normal;
}

// MARK: Buttons
.btn {
  @include mix.btn;
}

button.btn {
  @include mix.buttonbtn;
  // new behavior for declarations after nested rules
  & {
    color: var.$white;
    border-color: var(--border2);
    background-color: var(--surface2);
  }

  &:hover {
    border-color: var(--border2);
    background-color: var(--surface3);
  }
}

button.btn.btn-important {
  @include mix.buttonbtn;
  // new behavior for declarations after nested rules
  & {
    color: var(--color_text);
    border-color: var(--color_base);
    background-color: var(--color_dark);
  }

  &:hover {
    background-color: var(--color_base);
  }
}

.btn.toggle-password .icon {
  opacity: 0.6;
}

.btn.btn-attention.confirm,
.btn-important {
	@include mix.buttonbtn;
  // new behavior for declarations after nested rules
  & {
    color: var(--color_text);
    border-color: #ff5257;
    background-color: #c33739;
  }

	&:hover {
		background-color: #ff5257;
	}
}

// MARK: Tables
table {
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid var(--border2);
  }

  thead tr {
    border-bottom: 2px solid var(--border2);
    background-color: rgba(var.$white, 0.05);
  }
}

main table {

	a {
		color: var.$white;
		text-decoration-thickness: 1px;
		text-decoration-line: underline;
		text-decoration-color: rgba(var.$white, 0.25);
		text-underline-offset: 2px;
	}
}

form td,
form th {
  font-weight: normal;
  text-align: center;
}

// MARK: Forms
legend {
  font-size: 22px;
  margin: 20px 0 5px;
  padding: 5px 0;
}

label {
  padding: 5px 0;
  min-height: 25px;
  cursor: pointer;
}

textarea {
  width: 360px;
  height: 100px;
}

input,
select,
textarea {
  border-radius: 3px;
  vertical-align: middle;
  padding: 7px;
}

input,
textarea {
  color: var.$white;
  border: 1px solid var(--border1);
  background-color: var(--surface3);

  &::placeholder {
    color: var(--text2);
  }
}

input[type=text],
input[type=number],
input[type=url] {

  &:focus-visible {
    outline: 1px solid var(--color_light);
    outline-offset: -1px;
  }
}

input[type=checkbox] {
  /* Remove most all native input styles */
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid var(--border4);
  background-color: var(--surface4);
  position: relative;
  width: 18px !important;
  height: 18px !important;
  transform: translateY(-2px);

  &::before {
    content: "";
    // background-color: CanvasText; /* Windows High Contrast Mode */
    background: url("icons/check.svg") no-repeat center;
    display: block;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    transform: scale(0);
    transform-origin: center;
    transition: 120ms transform ease-in-out;
  }

  &:checked::before {
    transform: scale(1);
  }

  &:focus-visible {
    outline: 1px solid var(--color_light);
  }

  &:disabled {
    border-color: var(--border2);
    background-color: var(--surface3);
    cursor: not-allowed;
  }
}

select {
  color: var.$white;
  border: 1px solid var(--border3);
  background-color: var(--surface1);

  &:focus-visible {
    outline: 1px solid var(--color_light);
    outline-offset: -1px;
  }
}

option {
  padding: 0 .5rem;
}

// MARK: Form group
.form-group {

  &.form-actions {
    padding: 5px 0;

      .btn {
        margin: 0 10px 0 0;
      }
  }

  .group-name {
    text-align: right;
    padding: 10px 0;
  }

  .group-controls {
    padding: 10px 0;
    min-height: 25px;
  }
}

// ====================================
// MARK: Global =======================
// ====================================

#global {
  // height: calc(100% - 64px);
  height: 100%;
}

.icon {
  opacity: 0.6;
}

kbd {
  border-style: none;
  margin: 1px;
}

// MARK: Alerts
.alert {
  font-size: 14px;
  border-radius: 5px;
  backdrop-filter: blur(10px);

  h2 {
    font-weight: normal;
  }

  > a {
    text-decoration: underline;
  }
}

.alert-head {
  font-size: 18px;
}

.alert-warn {
  color: var.$white;
  border: 1px solid var.$alert-blue-color-light;
  background-color: rgba(var.$alert-blue-color-light, 0.5);
}

.alert-success {
  color: var.$white;
  border: 1px solid var.$alert-green-color-light;
  background-color: rgba(var.$alert-green-color-light, 0.5);
}

.alert-error {
  color: var.$white;
  border: 1px solid var.$alert-red-color-light;
  background-color: rgba(var.$alert-red-color-light, 0.5);
}

// MARK: Notifications
.notification {
  font-size: 1rem;
  font-weight: normal;
  border-style: none;
  border-radius: 3px;
  backdrop-filter: blur(10px);

  a.close {

    .icon {
      opacity: 1;
      @media (max-width: 840px) {
        display: none;
      }
    }

    &:hover {
      opacity: 0.6;
    }
  }

  &.good {
    color: var.$white;
    border: 1px solid var.$alert-green-color-light;
    background-color: rgba(var.$alert-green-color-light, 0.5);
  }

  &.bad {
    color: var.$white;
    border: 1px solid var.$alert-red-color-light;
    background-color: rgba(var.$alert-red-color-light, 0.5);
  }
}

// MARK: New article notification
#new-article {
  font-size: 14px;
  text-align: center;

  > a {
    font-weight: bold;
    padding: 0.75rem;

    &:hover {
      text-decoration: none;
    }
  }
}

// MARK: configure
.configure {

  .btn.dropdown-toggle .icon {
    opacity: 0.6;
    width: 24px;
    height: auto;
  }
}

// MARK: Dropdown
.dropdown-menu {
  font-size: 13px;
  text-align: left;
  border-color: rgba(var.$white, 0.2);
  border-radius: 8px;
  background-color: rgba(var(--surface1), 0.6);
  box-shadow: 0 14px 40px 4px rgba(0, 0, 0, 0.25), 0 0 0 1px rgba(0, 0, 0, 0.65);
  margin: 5px 0 0;
  padding: 5px 0;
  backdrop-filter: blur(30px);

  &::after {
    display: none;
  }

  .as-link {
    border-color: var(--border2);
    background-color: transparent;
  }

  .item {
    padding: 0 4px;

    &.separator,
    &.dropdown-section {
      border-color: rgba(var.$white, 0.2);
      padding-top: 4px;
    }

    .dropdown-section-title {
      color: rgba(var(--text2), 0.5);
      padding: 4px 10px;
    }

    > a,
    > span,
    > .as-link {
      border-radius: 5px;
      padding: 6px 8px;

      &:hover {
        color: var(--color_text);
        background-color: var(--color_dark);
      }
    }

    > .as-link[disabled]:hover {
      background-color: transparent;
    }

    .signout {

      .icon {
        float: right;
        opacity: 0.6;
      }

      &:hover .icon {
        opacity: 1;
      }
    }

    &[aria-checked="true"] > a::before {
      font-weight: bold;
      margin: 0 0 0 -14px;
    }

    &:hover > a {
      text-decoration: none;
    }
  }

  .input select,
  .input input {
    margin: 0 auto 5px;
    padding: 2px 5px;
  }
}

.dropdown-header {
  font-weight: bold;
  text-align: left;
  padding: 0 5px 5px;
}

@supports (scrollbar-width: thin) {

  .scrollbar-thin {
    scrollbar-color: #55595a var(--surface2);
    scrollbar-width: thin;

		&:hover {
			scrollbar-color: #737c7e var(--surface2);
		}
	}
}

// ====================================
// MARK: Header =======================
// ====================================

.header {
  @media (min-width: 841px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    pointer-events: none;
  }

  > .item {
    vertical-align: middle;

    &.title {
      @media (min-width: 841px) {
        text-align: left;
        padding-left: 1rem;
        width: 50%;
      }

      h1 {
        margin: 0.5em 0;

        a {
          text-decoration: none;
        }
      }

      a {
        @media (min-width: 841px) {
          display: block;
          overflow-x: hidden;
          width: 12px;
          pointer-events: all;
        }
        @media #{var.$breakpoint-xl-up} {
          display: inline-block;
          width: unset;
        }

        .logo {
          max-width: unset;
          height: 26px;
        }

        // &:hover .logo {
        //   filter: var(--color_filter_bg);
        // }
      }
    }

    // MARK: search
    &.search {
      @media (min-width: 841px) {
        display: none;
      }

      input {
        border: 1px solid var(--border3);
        border-right-style: none;
        border-radius: 5px 0 0 5px;
        background-color: var(--surface1);
        width: 90px;
        max-width: 97%;
        @media #{var.$breakpoint-md-up} {
          width: 350px;
          max-width: inherit;
        }

        &:focus {
          @media (max-width: 840px) {
            width: 400px;
          }
        }

        &::placeholder {
          color: var(--text2);
        }
      }

      button {
        border: 1px solid var(--border3);
        border-left-style: none;
        border-radius: 0 5px 5px 0;
        background-color: var(--surface1);

        &:hover {
          color: var(--color_text);
          background-color: var(--color_base);

          .icon {
            opacity: 1;
          }
        }
      }
    }

    &.configure {
      @media (min-width: 841px) {
        text-align: right;
        padding-right: 1.5rem;
        width: 50%;
      }

      .dropdown {
        @media (min-width: 841px) {
          pointer-events: all;
        }
      }
    }
  }
}

.normal {

  .header {
    @media (min-width: 841px) {
      left: 300px;
      width: calc(100% - 300px);
    }

    > .item.title {
      @media (min-width: 841px) {
        padding-left: 1.5rem;
      }
    }
  }
}

// ====================================
// MARK: Sidebar ======================
// ====================================

.aside {
  border-right: 1px solid var(--border2);
  background-color: var(--surface2);
  @media (max-width: 840px) {
    transition: width 200ms linear;
  }

  &.aside_feed {
    text-align: center;
    padding: 0;
    @media (min-width: 841px) {
      padding: 1rem 0;
    }

    #btn-subscription {
      border: 1px solid var(--border3);
      border-radius: 5px 0 0 5px;
      background-color: var(--surface2);

      &:hover {
        color: var(--color_text);
        border-color: var(--color_dark);
        background-color: var(--color_dark);
      }
    }

    #btn-add {
      border: 1px solid var(--border3);
      border-left-style: none;
      border-radius: 0 5px 5px 0;
      background-color: var(--surface2);

      .icon {
        opacity: 1;
      }

      &:hover {
        color: var(--color_text);
        border-color: var(--color_dark);
        background-color: var(--color_dark);

        .icon {
          filter: var(--color_filter_fg);
        }
      }
    }

    .category .title.error::before {
      opacity: 0.6;
    }

    #mark-read-aside {
      margin-top: 1.3rem;
    }

    .tree {
      margin: 10px 0 50px;
    }
  }
}

// MARK: Aside main page (categories)
#aside_feed .tree-folder-title > .title:not([data-unread="0"])::after {
  padding-right: 0;
}

.feed.active .item-title:not([data-unread="0"])::after {
  border-style: none;
}

.aside_feed .tree-folder-items {

  .dropdown-menu::after {
    left: 2px;
  }

  .item .dropdown-target:target ~ .dropdown-toggle > .icon,
  .item:hover .dropdown-toggle > .icon,
  .item.active .dropdown-toggle > .icon {
    border-radius: 3px;
  }
}

// MARK: Tree
#sidebar.tree {
  margin: 10px 0;

  .tree-folder.category {
    border-top: 1px solid rgba(var(--border2), 0.5);
    margin-top: 0.4rem;

    .tree-folder-title {
      font-size: 14px;
      line-height: 2.5;
      position: relative;
      padding: 5px 10px 0;

      .icon {
        opacity: 0.6;
        margin-right: 8px;
      }

      .title {
        color: var(--text2);
        background: inherit;

        &:hover {
          text-decoration: none;
        }

        &.error::before {
          color: var.$white;
        }
      }
    }

    &.all,
    &.important,
    &.favorites {
      border-top-style: none;
      margin-top: 0;

      .title {
        color: var(--text2);
      }

      &.active {

        .icon {
          opacity: 1;
          filter: var(--color_filter_bg);
        }

        .title {
          color: var.$white;
        }
      }
    }

    &.favorites {
      padding-bottom: 0.5rem;
    }

    .tree-folder-items {

      > .item {
        font-size: 13px;
        padding: 0 12px;

        &:hover {
          background-color: var(--surface2);
        }

        &.active {
          background-color: var(--surface3);
          box-shadow: inset -3px 0 0 0 var(--color_base);
        }

        .dropdown.no-mobile {
          margin: 0;
          padding: 0;

          .dropdown-toggle {
            padding: 8px 8px 8px 0;
          }
        }

        > a {
          text-decoration: none;
        }

        .item-title {
          font-weight: normal;
          padding: 0;

          &::after {
            margin-top: 6px !important;
            padding-right: 0;
          }
        }
      }

      &.active {
        padding-bottom: 0.75rem;
      }

      .feed .favicon {
        border-radius: 3px;
        background-color: var.$white;
        margin: 2px 8px 5px 0;
        padding: 1px;
      }
    }
  }
}

// MARK: Divers
.aside.aside_feed .nav-form {

  input,
  select {
    width: 140px;
  }

  .dropdown .dropdown-menu {
    right: -20px;
  }

  .dropdown .dropdown-menu::after {
    right: 33px;
  }
}

// MARK: Navigation
.nav-list {
  padding: 4rem 2rem 1rem;

  .item {
    font-size: 14px;
    line-height: 2.5;
    margin-bottom: 1px;

    .nav-header {
      color: rgba(var(--text2), 0.5);
    }

    a {
      text-decoration: none;
      border-radius: 5px;
      padding: 0 8px;
    }

    a:hover,
    &.active a {
      color: var(--color_text);
      background-color: var(--color_dark);
    }
  }
}

.normal {

  .nav-list {
    padding: 1rem 2rem;
  }
}

// ====================================
// MARK: Slider =======================
// ====================================

// MARK: slide-out
#slider {
  background-color: var(--surface1);
}

// ====================================
// MARK: Top menu =====================
// ====================================

// MARK: nav_menu toolbar
.nav_menu {
  text-align: center;
  margin-bottom: 0.2rem;
  padding: 1rem 10px 0;
  @media (min-width: 841px) {
    padding: 1rem 45px 0 56px;
  }

  .group {
    margin: 0 1px 1rem;

    .btn {
      border-top: 1px solid var(--border3);
      border-bottom: 1px solid var(--border3);

      &.toggle_aside,
      &#toggle-order,
      &#actualize {
        border-right: 1px solid var(--border3);
        border-left: 1px solid var(--border3);
        border-radius: 5px;
      }

      &.toggle_aside .icon {
        width: 24px;
        height: auto;
      }

      &.toggle_aside:hover .icon {
        opacity: 1;
      }
    }

    &#nav_menu_actions {

      .btn:first-child {
        border-left: 1px solid var(--border3);
        border-radius: 5px 0 0 5px;
      }

      .dropdown {

        a {
          border-right: 1px solid var(--border3);
          border-radius: 0 5px 5px 0;
        }

        .dropdown-menu a {
          border-style: none;
          border-radius: 0;
        }
      }
    }

    &#nav_menu_views {

      .btn:first-child {
        border-left: 1px solid var(--border3);
        border-radius: 5px 0 0 5px;
      }

      .btn:last-child {
        border-right: 1px solid var(--border3);
        border-radius: 0 5px 5px 0;
      }
    }
  }

  .btn {

    &.active {
      background-color: rgba(var(--surface2), 0.5);
    }

    &:hover {
      color: var(--color_text);
      border-color: var(--color_dark) !important;
      background-color: var(--color_dark);

      .icon {
        filter: var(--color_filter_fg);
      }
    }
  }

  .stick {
    border-style: none;

    #mark-read-menu {
      border-radius: 5px;

      .read_all.btn {
        color: var(--text2);
        border: 1px solid var(--border3);
        border-radius: 5px 0 0 5px !important;
        background-color: var(--surface1);
        margin: 0;

        &:hover {
          color: var(--color_text);
          border-color: var(--color_dark);
          background-color: var(--color_dark);
        }
      }

      .dropdown-toggle {
        border: 1px solid var(--border3);
        border-left-style: none;
        border-radius: 0 5px 5px 0 !important;
        background-color: var(--surface1);
        margin: 0;

        &:hover {
          color: var(--color_text);
          border-color: var(--color_dark);
          background-color: var(--color_dark);

          .icon {
            opacity: 1;
            filter: var(--color_filter_fg);
          }
        }
      }
    }
  }

  #dropdown-search-wrapper.only-mobile {
    display: block !important;

    &.dropdown {

      a {
        border-right-style: none;
        border-radius: 0;
      }

      .dropdown-menu {

        input {
          border: 1px solid var(--border3);
          border-right-style: none;
          border-radius: 5px 0 0 5px;
          background-color: var(--surface1);
          width: 90px;
          max-width: 97%;
          @media #{var.$breakpoint-md-up} {
            width: 350px;
            max-width: inherit;
          }

          &:focus {
            @media (max-width: 840px) {
              width: 400px;
            }
          }
        }

        .btn {
          border-color: var(--border3);
          border-radius: 0 5px 5px 0;
        }
      }
    }
  }

  #nav_menu_actions,
  #nav_menu_views,
  #toggle-order,
  #actualize {

    .icon {
      opacity: 0.6;
      width: 24px;
      height: auto;
    }

    .btn:hover .icon,
    .btn.active .icon {
      opacity: 1;
    }
  }

  #toggle-order,
  #actualize {

    &:hover .icon {
      opacity: 1;
    }
  }
}

// ====================================
// MARK: Footer =======================
// ====================================

// MARK: Navigation menu (for articles)
#nav_entries {
  line-height: 3;
  text-align: center;
  border-top: 1px solid var(--border3);
  background-color: rgba(var(--surface2), 0.5);
  backdrop-filter: blur(10px);
  table-layout: fixed;
  margin: 0;
}

// MARK: Pagination
.pagination {
  font-size: 13px;
  text-align: center;

  .item.pager-current {
    font-size: 24px;
    font-weight: bold;
  }

  .item a {
    line-height: 3;
    font-style: italic;
    text-decoration: none;
    display: block;
  }
}

.content .pagination {
  margin: 0;
  padding: 0;
}

#load_more.loading,
#load_more.loading:hover {
  background: var(--surface1) url("loader.gif") no-repeat center !important;
}

// MARK: Load more
#stream-footer {
  border-top-style: none;

  .stream-footer-inner {
    color: var(--text2);
    font-size: 14px;
    padding-top: 2rem;

    #bigMarkAsRead {
      text-align: center;
      margin: 1.5rem auto;
      padding: 0;
      width: calc(100% - 2rem);
      max-width: 332px;

      .bigTick,
      br {
        display: none;
      }

      .markAllRead {
        @include mix.buttonbtn;
        // new behavior for declarations after nested rules
				& {
          color: var(--color_text);
          font-size: 16px;
          border-color: var(--border3);
          background-color: var(--surface1);
          display: block;
          padding: 0.75rem 1rem;
        }

        &:hover {
          color: var(--color_text);
          border-color: var(--color_light);
          background-color: var(--color_dark);
        }
      }

      .jumpNext {
        color: var(--text2);
        font-size: 14px;
        display: inline-block;
        padding-top: 1rem;
      }
    }
  }
}

// ====================================
// MARK: Content ======================
// ====================================

main {

  a,
  button.as-link {
		color: var(--color_base);
  }
}

// MARK: Day
#stream {
  padding: 0 2rem;

  .day {
    color: var(--text2);
    font-size: 14px;
    text-align: right;
    border-bottom: 2px solid var(--border1);
    position: relative;
    padding: 16px 10px 10px;

    .date {

      sup {
        font-size: inherit;
        display: none;
        vertical-align: unset;
      }
    }

    .name {
      color: var(--text1);
      font-size: 23px;
      text-align: left;
      display: none;
      top: 0.35rem;
      right: auto;
      left: 10px;
      padding: 0 10px 0 0;
      width: auto;
    }

    &:nth-child(3) .name {
      display: block;
    }
  }

  &.global,
  &.reader {
    border-top: 1px solid var(--border2);
  }
}

// MARK: Feed articles (flux)
#stream:not(.reader) .flux {
  border-bottom: 1px solid var(--border1);

  a {
    color: var(--text1);
  }

  &.not_read {

    .item.title,
    .item.titleAuthorSummaryDate {

      a {
        color: var(--text1);
        font-weight: normal;
      }
    }
  }

  .item.title,
  .item.titleAuthorSummaryDate {

    a {
      color: var(--text3);
      font-weight: normal;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .website {
    @media (max-width: 840px) {
      display: none;
    }

    a {

			.favicon {
				border-radius: 3px;
				background-color: var.$white;
				padding: 2px;
			}

			&:hover {

				.favicon {
					filter: unset;
				}
			}
    }
  }

  .item.date {
    font-size: 11px;
    width: 200px;

    time sup {
      font-size: inherit;
      display: none;
      vertical-align: unset;
    }
  }

  &:not(.current):hover .item.title {
    position: unset;
  }

  .bottom {
    font-size: 13px;
    text-align: center;

    a,
    .date {
      color: var(--text2);

    }

    .icon {
      opacity: 0.5;
    }

    .dropdown-menu.dropdown-menu-scrollable {

      .dropdown-header {
        padding: 6px 8px;
      }

      .stick {

        input {
          border-right-style: none;
          border-radius: 5px 0 0 5px;
        }

        .btn {
          border-radius: 0 5px 5px 0;
        }
      }
    }
  }

  .text a {
    color: var.$white;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.flux_header {
  font-size: 13px;
  cursor: pointer;

  .title {
    font-size: 14px;
  }
}

// MARK: Content of feed articles
.content {
  // padding: 20px 10px;

  header {
    position: relative;
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    &::after {
      content: "";
      // background-color: $gravity-gray-15;
      position: absolute;
      bottom: 0;
      left: 3rem;
      width: calc(100% - 6rem);
      height: 1px;
    }
  }

  .date {

    sup {
      font-size: inherit;
      display: none;
      vertical-align: unset;
    }
  }

  .title {
    line-height: 1.2;
  }

  .list-tags .link-tag {
    color: var(--text2);
  }

  hr {
    margin: 30px 10px;
    height: 1px;
  }

  pre {
    font-size: 14px;
    overflow: auto;
    margin: 0 auto;
    padding: 0;
  }

  code {
    border-style: none;
    background-color: #333;
    display: inline-block;
    padding: 2px 5px;
  }

  // pre code {}

  blockquote {
    font-style: italic;
    border-left: 5px solid var(--border2);
    display: block;
    margin: 1rem 0 1rem 1rem;
    padding: 0 5px 0 20px;

    p {
      margin: 0;
    }
  }
}

// MARK: Reader View

#stream.reader .flux {
  color: var(--text1);

  &:first-child {
    border-top-style: none;
  }

  .content {
    border-style: none;
    background-color: transparent;

    .icon {
      opacity: 1;
      filter: var(--color_filter_bg);
    }

    .list-tags .link-tag {
      color: var(--text2);
    }

    header .tags {
      align-items: center;
    }

    sup {
      font-size: inherit;
      display: none;
      vertical-align: unset;
    }

    a {
      color: var(--text1);
      text-decoration: underline;

      &:hover {
        color: var(--color_light);
      }
    }

    .title {

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

		.website {
			@media (max-width: 840px) {
				display: none;
			}

			a {

				.favicon {
					border-radius: 3px;
					background-color: var.$white;
					padding: 2px;
				}

				&:hover {

					.favicon {
						filter: unset;
					}
				}
			}
		}
  }

  .author {
    font-size: 90%;
    margin: 0 0 10px;
  }
}

// MARK: Boxes
.box {

  a {
    color: var(--text2);
  }

  .box-title {
    position: relative;
    margin: 0;
    padding: 10px 10px 5px;

    .title::after {
      margin-top: 14px !important;
    }

    .configure {
      position: absolute;
      top: 0.9rem;
      left: 0.5rem;
    }

    h2 {
      font-weight: normal;
      margin: 0.5rem 0;
      padding-left: 1rem;
    }
  }

  .box-content {
    max-height: 260px;

    .item {
      font-size: 14px;
      line-height: 2.5;
      padding: 0 10px;
    }
  }
}

.box .box-title .title {
  font-weight: normal;
  text-align: left;
  text-decoration: none;
}

.box:not([data-unread="0"]) .box-title {

  // &:active {}

  .title {
    font-weight: bold;
  }
}

.box .title:not([data-unread="0"])::after {
  font-weight: bold;
  text-shadow: none;
  border: 0;
  background: none;
  box-shadow: none;
  position: absolute;
  top: 5px;
  right: 10px;
}

.box:not(.visible-semi) {
  border: 2px solid var(--border2);
  border-radius: 8px;
}

.drop-section .box.visible-semi {
  border-radius: 8px;
}

// MARK: Statistics
.stat {
  margin: 10px 0 20px;

  > table td,
  > table th {
    text-align: center;
  }
}

// MARK: Prompt (centered)
.prompt {
  text-align: center;

  label {
    text-align: left;
  }

  form {
    margin: 10px auto 20px;
    width: 180px;
  }

  input {
    margin: 5px auto;
    width: 100%;
  }

  p {
    margin: 20px 0;
  }
}

.theme-preview-list {
  border-color: var(--border2);
  border-radius: 5px;

  .properties {
    border-style: none;
    background-color: rgba(var.$black, 0.5);
  }
}
