@charset "UTF-8";

// ====================================
// ! HTML =============================
// ====================================

html,
body {
  color: $text-color;
  font-size: 16px;
  line-height: 1.15;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  -webkit-text-size-adjust: 100%;
  background-color: $main-bg;
  height: 100%;
}

// ! Links
a,
button.as-link {
  color: $link-color-light;
  outline: none;
}

// ! Type
h1,
h2 {
  font-weight: normal;
}

// ! Buttons
.btn {
  @include btn;
}

button.btn {
  @include buttonbtn;
}

.btn-important {
  @include buttonbtn ($white, $gravity-blue-color-light, $gravity-blue-color-base);
  font-weight: normal;
}

.btn.toggle-password .icon {
  opacity: 0.6;
}

// ! Tables
table {
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid $border;
  }

  thead tr {
    border-bottom: 2px solid $border-light;
    background-color: rgba($white, 0.05);
  }
}

form td,
form th {
  font-weight: normal;
  text-align: center;
}

// ! Forms
legend {
  font-size: rem(22);
  margin: 20px 0 5px;
  padding: 5px 0;
}

label {
  padding: 5px 0;
  min-height: 25px;
  cursor: pointer;
}

textarea {
  width: 360px;
  height: 100px;
}

input,
select,
textarea {
  border-radius: 3px;
  vertical-align: middle;
  padding: 7px;
}

input,
textarea {
  @include placeholder;
  color: $white;
  border: 1px solid $border-light;
  background-color: $main-bg;
}

select {
  color: $white;
  border: 1px solid $border-light;
  background-color: $main-bg;
}

option {
  padding: 0 .5rem;
}

// ! Form group
.form-group {

	&.form-actions {
		padding: 5px 0;

			.btn {
				margin: 0 10px 0 0;
			}
	}

  .btn.btn-attention {
    @include buttonbtn ($white, $gravity-blue-color-light, $gravity-blue-color-base);
  }

	.group-name {
		text-align: right;
		padding: 10px 0;
	}

	.group-controls {
		padding: 10px 0;
		min-height: 25px;
	}
}

// ====================================
// ! Global ===========================
// ====================================

#global {
  height: calc(100% - 85px);
}

.icon {
  opacity: 0.6;
}

kbd {
  border-style: none;
  margin: 1px;
}

// ! Alerts
.alert {
  font-size: rem(14);
  border-radius: 3px;

  > a {
    text-decoration: underline;
  }
}

.alert-head {
  font-size: rem(18);
}

.alert-warn {
  color: $white;
  background-color: $gravity-blue-color-light;
}

.alert-success {
  color: $white;
  background-color: $md-lime-800;
}

.alert-error {
  color: $white;
  background-color: $gravity-red-color-base;
}

// ! Notifications
.notification {
  font-size: 1rem;
  font-weight: normal;
  border-style: none;
  border-radius: 3px;

  a.close {
    @media (max-width: 840px) {
      display: block;
      left: 0;
    }

    .icon {
      opacity: 1;
      @media (max-width: 840px) {
        display: none;
      }
    }

    &:hover {
      @media (max-width: 840px) {
        opacity: 0.5;
      }
    }
  }

  &.good {
    color: $white;
    background-color: $md-lime-800;

    // a.close:hover {}
  }

  &.bad {
    color: $white;
    background-color: $gravity-red-color-base;

    // a.close:hover {}
  }
}

// ! New article notification
#new-article {
  font-size: rem(14);
  text-align: center;

  > a {
    font-weight: bold;
    padding: 0.75rem;

    &:hover {
      text-decoration: none;
    }
  }
}

// ! configure
.configure {

  .btn.dropdown-toggle .icon {
    opacity: 0.6;
    width: 24px;
    height: auto;
  }
}

// ! Dropdown
.dropdown-menu {
  font-size: rem(13);
  text-align: left;
  border-color: $border-light;
  border-radius: 8px;
  background-color: rgba($main-bg, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 14px 40px 4px rgba(0, 0, 0, 0.25), 0 0 0 1px rgba(0, 0, 0, 0.7);
  margin: 5px 0 0;
  padding: 5px 0;

  &::after {
    display: none;
  }

  .as-link {
    border-color: $border;
    background-color: transparent;
  }

  .item {
    padding: 0 4px;

    &.separator,
    &.dropdown-section {
      border-color: $border;
      padding-top: 4px;
    }

    .dropdown-section-title {
      color: rgba($text-color, 0.5);
      padding: 4px 10px;
    }

    > a,
    > span,
    > .as-link {
      border-radius: 5px;
      padding: 6px 8px;

      &:hover {
        background-color: $gravity-blue-color-base;
      }
    }

    > .as-link[disabled]:hover {
      background-color: transparent;
    }

    .signout {

      .icon {
        float: right;
        opacity: 0.6;
      }

      &:hover .icon {
        opacity: 1;
      }
    }

    &[aria-checked="true"] > a::before {
      font-weight: bold;
      margin: 0 0 0 -14px;
    }

    &:hover > a {
      text-decoration: none;
    }
  }

  .input select,
  .input input {
    margin: 0 auto 5px;
    padding: 2px 5px;
  }
}

.dropdown-header {
  font-weight: bold;
  text-align: left;
  padding: 0 5px 5px;
}

// ====================================
// ! Header ===========================
// ====================================

.header {
  border-bottom: 1px solid $border;
  background-color: $sideBar-background;
  height: 85px;

  > .item {
    text-align: center;
    vertical-align: middle;

    &.title {

      h1 {
        margin: 0.5em 0;

        a {
          text-decoration: none;
        }
      }
    }

    // ! search
    &.search {
      @media (max-width: 840px) {
        display: inline-block;
        max-width: 97%;
      }

      input {
        @include placeholder;
        border: 1px solid $border-light;
        border-right-style: none;
        border-radius: 5px 0 0 5px;
        background-color: $sideBar-background;
        width: 350px;
        @media (max-width: 840px) {
          width: 90px;
          max-width: 97%;
        }

        &:focus {
          @media (max-width: 840px) {
            width: 400px;
          }
        }
      }

      button {
        border: 1px solid $border-light;
        border-left-style: none;
        border-radius: 0 5px 5px 0;
        background-color: $sideBar-background;

        &:hover {
          background-color: $gravity-blue-color-base;

          .icon {
            opacity: 1;
          }
        }
      }
    }
  }
}

// ====================================
// ! Sidebar ==========================
// ====================================

.aside {
  border-right: 1px solid $border;
  @media (max-width: 840px) {
    transition: width 200ms linear;
  }

  &.aside_feed {
    text-align: center;
    padding: 0;
    @media (min-width: 841px) {
      padding: 1rem 0;
    }

    #btn-subscription {
      border: 1px solid $border-light;
      border-radius: 5px 0 0 5px;
      background-color: $main-bg-light;

      &:hover {
        border-color: $gravity-blue-color-base;
        background-color: $gravity-blue-color-base;
      }
    }

    #btn-add {
      border: 1px solid $border-light;
      border-left-style: none;
      border-radius: 0 5px 5px 0;
      background-color: $main-bg-light;

      .icon {
        opacity: 1;
      }

      &:hover {
        border-color: $gravity-blue-color-base;
        background-color: $gravity-blue-color-base;
      }
    }

    .category .title.error::before {
      opacity: 0.6;
    }

    #mark-read-aside {
      // border-top: 1px solid $border;
      margin-top: 1rem;
    }

    .tree {
      margin: 10px 0 50px;
    }
  }
}

// ! Aside main page (categories)
.aside_feed .tree-folder-title > .title:not([data-unread="0"])::after {
  font-size: rem(14);
  line-height: 1.5;
  position: absolute;
  right: 0;
  margin: 10px 0;
  padding: 0 10px;
}

.feed.active .item-title:not([data-unread="0"])::after {
  border-style: none;
}

.aside_feed .tree-folder-items {

  .dropdown-menu::after {
    left: 2px;
  }

  .item .dropdown-target:target ~ .dropdown-toggle > .icon,
  .item:hover .dropdown-toggle > .icon,
  .item.active .dropdown-toggle > .icon {
    border-radius: 3px;
  }
}

// ! Tree
#sidebar.tree {
  margin: 10px 0;

  .tree-folder.category {

    .tree-folder-title {
      font-size: rem(14);
      line-height: 2.5;
      position: relative;
      padding: 5px 10px 0;

      .icon {
        opacity: 0.6;
      }

      .title {
        color: $md-gray-400;
        background: inherit;

        &:hover {
          text-decoration: none;
        }

        &.error::before {
          color: $white;
        }
      }
    }

    .tree-folder-items {

      > .item {
        font-size: rem(13);
        padding: 0 12px;

        &:hover {
          background-color: $main-bg-light;
        }

        &.active {
          background-color: $main-bg-light;
          box-shadow: inset -3px 0 0 0 $gravity-blue-color-base;
        }

        .dropdown.no-mobile {
          padding: 8px 0;
        }

        > a {
          text-decoration: none;
        }

        .item-title {
          font-weight: normal;
          padding: 8px 0;

          &::after {
            margin-top: 6px !important;
            padding-right: 0;
          }
        }
      }

      &.active {
        border-bottom: 1px solid $border;
      }

      .feed .favicon {
        border-radius: 3px;
        background-color: $md-gray-300;
        margin: 7px 8px 7px 0;
        padding: 1px;
      }
    }
  }
}

// ! Divers
.aside.aside_feed .nav-form {

  input,
  select {
    width: 140px;
  }

  .dropdown .dropdown-menu {
    right: -20px;
  }

  .dropdown .dropdown-menu::after {
    right: 33px;
  }
}

// ! Navigation
.nav-list {
  padding: 1rem 2rem;

  .item {
    font-size: rem(14);
    line-height: 2.5;
    margin-bottom: 1px;

    .nav-header {
      color: rgba($text-color, 0.5);
    }

    a {
      text-decoration: none;
      border-radius: 5px;
      padding: 0 8px;
    }

    a:hover,
    &.active a {
      background-color: $gravity-blue-color-base;
    }
  }
}

// ====================================
// ! Slider ===========================
// ====================================

// ! slide-out
#slider {
  background-color: $main-bg;
}

// ====================================
// ! Top menu =========================
// ====================================

// ! nav_menu toolbar
.nav_menu {
  text-align: center;
  // border-bottom: 1px solid $border;
  margin-bottom: 0.2rem;
  padding: 1rem 0;

  .group {
    margin: 0 1px;

    .btn {
      border-top: 1px solid $border;
      border-bottom: 1px solid $border;

      &.toggle_aside,
      &#toggle-order,
      &#actualize {
        border-right: 1px solid $border;
        border-left: 1px solid $border;
        border-radius: 5px;
      }

      &.toggle_aside .icon {
        width: 24px;
        height: auto;
      }

      &.toggle_aside:hover .icon {
        opacity: 1;
      }
    }

    &#nav_menu_actions {

      .btn:first-child {
        border-left: 1px solid $border;
        border-radius: 5px 0 0 5px;
      }

      .dropdown a {
        border-right: 1px solid $border;
        border-radius: 0 5px 5px 0;
      }
    }

    &#nav_menu_views {

      .btn:first-child {
        border-left: 1px solid $border;
        border-radius: 5px 0 0 5px;
      }

      .btn:last-child {
        border-right: 1px solid $border;
        border-radius: 0 5px 5px 0;
      }
    }
  }

  .btn {
    @media (max-width: 840px) {
      margin: 5px 10px;
    }

    &.active {
      background-color: rgba($main-bg-light, 0.5);
    }

    &:hover {
      border-color: $gravity-blue-color-base !important;
      background-color: $gravity-blue-color-base;
    }
  }

  .stick {
    border-style: none;
    @media (max-width: 840px) {
      margin: 0 10px;
    }

    .stick .btn {
      @media (max-width: 840px) {
        margin: 5px 0;
      }
    }

    #mark-read-menu {
      border-radius: 5px;

      .read_all.btn {
        color: $text-color;
        border: 1px solid $border-light;
        border-radius: 5px 0 0 5px !important;
        background-color: $main-bg-light;
        margin: 0;

        &:hover {
          border-color: $gravity-blue-color-base;
          background-color: $gravity-blue-color-base;
        }
      }

      .dropdown-toggle {
        border: 1px solid $border-light;
        border-left-style: none;
        border-radius: 0 5px 5px 0 !important;
        background-color: $main-bg-light;
        margin: 0;

        &:hover {
          border-color: $gravity-blue-color-base;
          background-color: $gravity-blue-color-base;

          .icon {
            opacity: 1;
          }
        }
      }
    }
  }

  #nav_menu_actions,
  #nav_menu_views,
  #toggle-order,
  #actualize {

    .icon {
      opacity: 0.6;
      width: 24px;
      height: auto;
    }

    .btn.active .icon {
      opacity: 1;
    }
  }

  #toggle-order,
  #actualize {

    &:hover .icon {
      opacity: 1;
    }
  }
}

// ====================================
// ! Footer ===========================
// ====================================

// ! Navigation menu (for articles)
#nav_entries {
  line-height: 3;
  text-align: center;
  border-top: 1px solid $border;
  background-color: rgba($main-bg, 0.5);
  backdrop-filter: blur(10px);
  table-layout: fixed;
  margin: 0;
}

// ! Pagination
.pagination {
  font-size: rem(13);
  text-align: center;
  @media (max-width: 840px) {
    margin: 0 0 3.5rem;
  }

  .item.pager-current {
    font-size: rem(24);
    font-weight: bold;
  }

  .item a {
    line-height: 3;
    font-style: italic;
    text-decoration: none;
    display: block;

      // &:hover {}
  }

  // &:first-child .item {}

  // &:last-child .item {}
}

.content .pagination {
  margin: 0;
  padding: 0;
}

#load_more.loading,
#load_more.loading:hover {
  font-size: 0;
}

// ! Load more
#stream-footer {
  border-top-style: none;

  .stream-footer-inner {
    color: $md-gray-400;
    font-size: rem(14);

    #bigMarkAsRead {
      text-align: center;
      text-decoration: none;
      padding: 0 1rem;

      .bigTick {
        display: none;
      }

      .markAllRead {
        color: $md-gray-200;
        font-size: rem(16);
        border: 1px solid $border;
        border-radius: 5px;
        display: inline-block;
        padding: 1rem;
        transition: border 0.5s ease;

        &:hover {
          border-color: $md-gray-400;
          transition: border 0.25s ease;
        }
      }
    }
  }
}

// ====================================
// ! Content ==========================
// ====================================

main {

  a,
  button.as-link {
  color: $gravity-blue-color-light;
  }
}

// ! Day
.day {
  color: $md-gray-500;
  font-size: rem(14);
  border-bottom: 2px solid $border-light;
  padding: 10px;

  .date {

    sup {
      font-size: inherit;
      vertical-align: unset;
    }
  }

  .name {
    color: $md-gray-500;
    text-align: right;
    padding: 0 10px 0 0;
  }
}

// ! Feed articles (flux)
.flux {
  border-bottom: 1px solid $border;

  a {
    color: $link-color-light;
  }

  // &:hover {}

  // &.current {}

  &.not_read {

    .item.title {
      font-weight: normal;
    }
  }

  // &.not_read:not(.current):hover .item.title {}

  // &.favorite {}

  // &.favorite:not(.current):hover .item.title {}

  .item.title {

    a {
      color: $link-color-light;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .website .favicon {
    padding: 5px;
  }

  .item.date {
    font-size: rem(11);
    width: 200px;

    time sup {
      font-size: inherit;
      vertical-align: unset;
    }
  }

  &:not(.current):hover .item.title {
    position: unset;
  }

  .bottom {
    font-size: rem(13);
    text-align: center;
  }
}

.flux_header {
  font-size: rem(13);
  cursor: pointer;

  .title {
    font-size: rem(14);
  }
}

// ! Content of feed articles
.content {
  padding: 20px 10px;

  hr {
    margin: 30px 10px;
    height: 1px;
  }

  pre {
    font-size: rem(14);
    overflow: auto;
    margin: 10px auto;
    padding: 10px 20px;
  }

  code {
    padding: 2px 5px;
  }

  // pre code {}

  blockquote {
    display: block;
    margin: 0;
    padding: 5px 20px;

    p {
      margin: 0;
    }
  }
}

// ! Reader View

#stream.reader .flux {
  color: #333;
  background-color: #f0f0f0;

  .content {
    border-color: #ddd;
    background-color: #fff;
  }

  .author {
    font-size: 90%;
    margin: 0 0 10px;
  }
}

// ! Boxes
.box {

  .box-title {
    position: relative;
    margin: 0;
    padding: 5px 10px;

    .configure {
      position: absolute;
      top: 0.6rem;
      left: 0.5rem;
    }

    h2 {
      margin: 0.5rem 0;
      padding-left: 1rem;
    }
  }

  .box-content {
    max-height: 260px;

    .item {
      font-size: rem(14);
      line-height: 2.5;
      padding: 0 10px;
    }
  }
}

.box .box-title .title {
  font-weight: normal;
  text-align: left;
  text-decoration: none;
}

.box:not([data-unread="0"]) .box-title {

  // &:active {}

  .title {
    font-weight: bold;
  }
}

.box .title:not([data-unread="0"])::after {
  font-weight: bold;
  text-shadow: none;
  border: 0;
  background: none;
  box-shadow: none;
  position: absolute;
  top: 5px;
  right: 10px;
}

.box:not(.visible-semi) {
  border: 2px solid $border;
  border-radius: 8px;
}

.drop-section .box.visible-semi {
  border-radius: 8px;
}

// ! Statistics

.stat {
  margin: 10px 0 20px;

  > table td,
  > table th {
    text-align: center;
  }
}

// ! Prompt (centered)
.prompt {
  text-align: center;

  label {
    text-align: left;
  }

  form {
    margin: 10px auto 20px;
    width: 180px;
  }

  input {
    margin: 5px auto;
    width: 100%;
  }

  p {
    margin: 20px 0;
  }
}

.theme-preview-list {
  border-color: $border-light;
  border-radius: 5px;

  .properties {
    border-style: none;
    background-color: rgba($black, 0.5);
  }
}
