// stylelint-disable selector-no-vendor-prefix

// Convert px to rem
@function rem($pixels, $context: 16) {
  @return math.div($pixels, $context) * 1rem;
}

// Style placeholder text
@mixin placeholder($color: $text-color) {
  &::-webkit-input-placeholder { color: $color; }
  &::-moz-placeholder { color: $color; }
  &:-ms-input-placeholder { color: $color; }
  &:-moz-placeholder { color: $color; }
  &::placeholder { color: $color; }
}

@mixin btn {
  font-size: rem(14);
  line-height: 1.7;
  font-weight: normal;
  vertical-align: middle;
  margin: 0;
  padding: 5px 10px;
  min-width: 15px;
  min-height: 25px;

  &:hover {
    text-decoration: none;
  }
}

@mixin buttonbtn {
  @include btn;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  transition: color 0.35s ease, background-color 0.35s ease, border-color 0.35s ease;

  &:hover {
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease;
  }
}
