$text-color: #e0e0e0;
$link-color: #f5f5f5;

$main-bg: #2b2b2b;
$bg-light: #474747;
$border: #474747;
$border-light: #565657;

// gravity-blue-theme
$gravity-blue-color-base: #007aff;
$gravity-blue-color-light: #3696ff;
$gravity-blue-color-dark: #0063cf;
$gravity-blue-color-text: #ffffff;

// gravity-purple-theme
$gravity-purple-color-base: #af52de;
$gravity-purple-color-light: #bb6ce3;
$gravity-purple-color-dark: #a338d9;
$gravity-purple-color-text: #ffffff;

// gravity-pink-theme
$gravity-pink-color-base: #ff2d55;
$gravity-pink-color-light: #ff4b6d;
$gravity-pink-color-dark: #ff0f3d;
$gravity-pink-color-text: #ffffff;

// gravity-red-theme
$gravity-red-color-base: #ff3b30;
$gravity-red-color-light: #ff584e;
$gravity-red-color-dark: #ff1e12;
$gravity-red-color-text: #ffffff;

// gravity-orange-theme
$gravity-orange-color-base: #ff9500;
$gravity-orange-color-light: #ffac36;
$gravity-orange-color-dark: #e68600;
$gravity-orange-color-text: #2c2c2c;

// gravity-yellow-theme
$gravity-yellow-color-base: #ffcc00;
$gravity-yellow-color-light: #ffe477;
$gravity-yellow-color-dark: #e6b800;
$gravity-yellow-color-text: #2c2c2c;

// gravity-green-theme
$gravity-green-color-base: #28cd41;
$gravity-green-color-light: #4ddc62;
$gravity-green-color-dark: #20a635;
$gravity-green-color-text: #2c2c2c;

// gravity-gray-theme
$gravity-gray-color-base: #8e8e93;
$gravity-gray-color-light: #adadb1;
$gravity-gray-color-dark: #7f7f85;
$gravity-gray-color-text: #ffffff;


// ----------------------------------------------------------------------------

// focusBorder: @color_base80;
// list-activeSelectionBackground: @color_base26;

// activityBar
// activityBar-activeBorder: @color_base;
$activityBar-background: #2c2c2c;
$activityBar-border: #151515;
// activityBarBadge-foreground: @color_text;
// activityBarBadge-background: @color_base;

// badge
$badge-foreground: #e0e0e0;
$badge-background: #5a5a5a;

// buttons
$button-foreground: #e0e0e0;
$button-background: #5a5a5a;
$button-border: #5a5a5a;
$button-hoverBackground: #727272;

// editor
$editor-background: #2b2b2b;
$editor-foreground: #dddddd;
$editor-lineHighlightBackground: #3d3d3d;
$editorCursor-foreground: #6eadd5;
$editor-foldBackground: #232323;

// extensions
// extensionBadge-remoteForeground: @color_text;
// extensionBadge-remoteBackground: @color_base;

// list and trees
// list-focusHighlightForeground: @color_light;
// list-highlightForeground: @color_light;
$list-inactiveSelectionBackground: #353535;

// panel
$panel-background: #252525;

// progressBar
// progressBar-background: @color_base;

// notification
// notificationLink-foreground: @color_base;
// notificationsInfoIcon-foreground: @color_light;

// quickInput
// pickerGroup-foreground: @color_light;

// settings
// settings-modifiedItemIndicator: @color_dark;

// sidebar
$sideBar-border: #111111;
$sideBar-background: #1e1e1e;
$sideBarSectionHeader-background: #2c2c2c;
$sideBarTitle-foreground: #949494;

// statusBar
$statusBar-background: #383838;
$statusBar-border: #222222;
$statusBar-debuggingForeground: #e0e0e0;
$statusBar-foreground: #969696;
$statusBar-noFolderForeground: #e0e0e0;
$statusBar-focusBorder: #22222200;
$statusBarItem-prominentForeground: #e0e0e0;
$statusBarItem-remoteForeground: #e0e0e0;

// tab
$editorGroupHeader-tabsBackground: #1e1e1e;
$tab-activeBackground: #2b2b2b;
// tab-activeBorder: @color_base;
$tab-border: #0d0d0d;
$tab-inactiveBackground: #1e1e1e;

// titleBar
$titleBar-activeBackground: #383838;
$titleBar-border: #191919;
$titleBar-inactiveBackground: #2c2c2c;

// text
// textBlockQuote-border: @color_dark;
// textLink-foreground: @color_light;
// textLink-activeForeground: @color_base;

$meta-embedded-foreground: #f8f8f2;
$comment-foreground: #696969;
$string-foreground: #e5b566;
$punctuation-section-embedded-foreground: #e13d79;
$meta-template-expression-foreground: #f8f8f2;
$constant-numeric-foreground: #ae81ff;
$constant-language-foreground: #ae81ff;
$constant-other-foreground: #ededed;
$variable-foreground: #ededed;
$keyword-foreground: #e13d79;
$storage-foreground: #e13d79;
$storage-type-foreground: #6dadd5;
$entity-name-type-foreground: #a3c266;
$entity-other-inherited-class-foreground: #a3c266;
$entity-name-function-foreground: #8bcaf2;
$variable-parameter-foreground: #fd971f;
$entity-name-tag-foreground: #e13d79;
$entity-other-attribute-name-foreground: #a3c266;
$support-function-foreground: #66d9ef;
$support-constant-foreground: #66d9ef;
$support-type-foreground: #60a3cd;
$invalid-foreground: #e13d79;
$invalid-deprecated-foreground: #ae81ff;
$string-quoted-double-json-foreground: #cfcfc2;
$meta-diff-foreground: #75715e;
$markup-deleted-foreground: #e13d79;
$markup-inserted-foreground: #a3c266;
$markup-changed-foreground: #69a4ca;
$constant-numeric-line-number-find-in-files-foreground: #ae81ffa0;
$entity-name-filename-find-in-files-foreground: #69a4ca;
$markup-quote-foreground: #e13d79;
$markup-list-foreground: #dddddd;
$markup-bold-foreground: #66d9ef;
$markup-inline-raw-foreground: #fd971f;
$markup-heading-foreground: #a3c266;
$markup-heading-setext-foreground: #a3c266;
$markup-quote-markdown-foreground: #cd9731;
$string-other-link-title-markdown-foreground: #b267e6;
$markup-underline-link-markdown-foreground: #fd971f;
$markup-list-unnumbered-markdown-foreground: #f8f8f2;
$punctuation-definition-list-begin-markdown-foreground: #6dadd5;
$token-info-token-foreground: #66d9ef;
$token-warn-token-foreground: #66d9ef;
$token-error-token-foreground: #f44747;
$token-debug-token-foreground: #a3c266;
$variable-language-foreground: #fd971f;
